* {
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
}
header {
    z-index: 7;
    position: fixed;
    top: 0;
    background-color: red;
    width: 100%;
}
header > h1 {
    float: left;
    margin: 10px 20px;
}
nav{
    margin-right: 50px;
    float: right;
}
.navItem {
    float: right;
    margin: 20px 10px;
    font-size: 1em;
    font-weight: bold;
}
.mainSection{
    width: 100%;
    height: 92vh;
    z-index: 3;
    position: relative;
    padding-top: 8vh;
    margin-bottom: 500px;
    background-color: black;
}
#images{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.parallax {
    width: 30vw;
    position: relative;
}

.scroll-button{
    width: 100px;
    height: 100px;
    opacity: .7;
    background-color: rgb(20, 20, 24);
    border-radius: 50%;
    display: flex;
    position: absolute; 
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
    z-index: 6;
}
.scroll-button:hover {
    background-color: rgb(160, 160, 170);
}
.scroll-button > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
#home-section-video {
    width: 100%;
    height: 92vh;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
section > a {
    z-index: 4;
    width: 35%;
    height: 70vh;
    position: absolute; 
    display: flex;
}
section > a > img {
    display: block;
    width: 100%;
    height: 100%;
}
.screen{
    background-color: black;
    opacity: .8;
    width: 100%;
    height: 92vh;
    z-index: 2;
    position: absolute; 
}
#about-section {
    margin-bottom: 0;
}
#youtube-section > a {
    text-decoration: none;
}
#youtube-section > a > h1, h6{
    margin-left: 5%;
}
#video-section {
    display: grid;
    width: 90%;
    height: 92vh;
    margin: 0 auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
}
.youtube-video{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.youtube-video-screen {
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: black;
    opacity: .8;
}
.main-video {
    width: 100%;
    height: 100%;
    grid-column: 1 / 7;
    grid-row: 1 / 5;
}
