/* just a touch of global styling */
* {
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
}

/* setting up the header and the nav bar */
header {
    z-index: 7;
    position: fixed;
    top: 0;
    background-color: red;
    width: 100%;
}
header > h1 {
    float: left;
    margin: 10px 20px;
    cursor: pointer;
}
nav{
    margin-right: 50px;
    float: right;
    cursor: pointer;
}
.navItem {
    float: right;
    margin: 20px 10px;
    font-size: 1em;
    font-weight: bold;
}

/* setting up the main containers and the parallax background */
.mainSection{
    width: 100%;
    height: 92vh;
    z-index: 3;
    position: relative;
    padding-top: 8vh;
    margin-bottom: 500px;
    background-color: black;
    filter: drop-shadow(20px 75px 10mm  #000000)
}
#images{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.parallax {
    width: 20%;
    height: 300px;
    float: left;
}
#about-section {
    margin-bottom: 0;
}

/* this section crates the extra scroll buttons at the bottom of the page*/
.scroll-button{
    width: 100px;
    height: 100px;
    opacity: .7;
    background-color: rgb(20, 20, 24);
    border-radius: 50%;
    display: flex;
    position: absolute; 
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
    z-index: 6;
    cursor: pointer;
}
.scroll-button:hover {
    background-color: rgb(160, 160, 170);
}
.scroll-button > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* stylizing the home section */
#home-section-video {
    width: 100%;
    height: 92vh;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
section > a {
    z-index: 4;
    width: 35%;
    height: 70vh;
    position: absolute; 
    display: flex;
    cursor: pointer;
}
#a2 {
    top: 30vh;
    right: 10vw;
}
section > a > img {
    display: block;
    width: 100%;
    height: 100%;
}
.screen{
    background-color: black;
    opacity: .8;
    width: 100%;
    height: 92vh;
    z-index: 2;
    position: absolute; 
}

/* this section is for stylizing the youtube section of the page */
/* my first attempt at css girds :D */
#youtube-section > a {
    text-decoration: none;
}
#youtube-section > a > h1, h6{
    margin-left: 5%;
}
.info {
    float: left;
    padding: 44vh 0;
    width: 70%;
    text-align: center;
    z-index: 1;
    position: absolute;
}
#video-section {
    position: absolute;
    display: grid;
    width: 90%;
    height: 92vh;
    margin: 0 auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

/* i had to do this all by hand to avoid a crap ton of hover problems but such is life */
.youtube-video{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.youtube-video-screen{
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: black;
    opacity: .1;
    cursor: pointer;
}
.main-video {
    width: 100%;
    height: 100%;
    grid-column: 1 / 7;
    grid-row: 1 / 5;
}
.youtube-video0{
    grid-column: 7/8;
    grid-row: 1 / 2;
}
.youtube-video1{
    grid-column: 8/9;
    grid-row: 1 / 2;
}
.youtube-video2{
    grid-column: 7/8;
    grid-row: 2/3;
}
.youtube-video3{
    grid-column: 8/9;
    grid-row: 2/3;
}
.youtube-video4{
    grid-column: 7/8;
    grid-row: 3/4;
}
.youtube-video5{
    grid-column: 8/9;
    grid-row: 3/4;
}
.youtube-video6{
    grid-column: 7/8;
    grid-row: 4/5;
}
.youtube-video7{
    grid-column: 8/9;
    grid-row: 4/5;
}
.youtube-video-screen0{
    grid-column: 7/8;
    grid-row: 1 / 2;
}
.youtube-video-screen1{
    grid-column: 8/9;
    grid-row: 1 / 2;
}
.youtube-video-screen2{
    grid-column: 7/8;
    grid-row: 2/3;
}
.youtube-video-screen3{
    grid-column: 8/9;
    grid-row: 2/3;
}
.youtube-video-screen4{
    grid-column: 7/8;
    grid-row: 3/4;
}
.youtube-video-screen5{
    grid-column: 8/9;
    grid-row: 3/4;
}
.youtube-video-screen6{
    grid-column: 7/8;
    grid-row: 4/5;
}
.youtube-video-screen7{
    grid-column: 8/9;
    grid-row: 4/5;
}

/* this is for the aobut section */
#about-section > h2{
    margin-left: 20px;
}
.part1{
    width: 90%;
    margin: 0 auto;
    height: 70vh;
    overflow: auto;
}
.part1::-webkit-scrollbar { 
    display: none; 
}
footer{
    position: absolute;
    bottom: 0;
    background-color: black;
}
footer > div {
    float: right;
    cursor: pointer;
    margin: 5vh 3vw;
}
footer > a {
    width: 10%;
    float: left;
    display: flex;
    margin-bottom: 1%;
}
footer > a > img{
    display: block;
    width: 100%;
    height: 100%;
}
