html, body{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black; 
}
* {
    margin: 0;
    padding: 0;
}
header {
    z-index: 5;
    position: fixed;
    top: 0;
    background-color: red;
    width: 100%;
}
header > h1 {
    float: left;
    margin: 10px;
}
.navItem {
    float: right;
    margin: 20px 10px;
    font-size: 1em;
    font-weight: bold;
}
#dickNeedles-link{
    margin-right: 50px;
}
.mainSection{
    width: 100%;
    height: 92vh;
    z-index: 3;
    position: relative;
    padding-top: 62px;
    padding-bottom: 338px;
}
#dickNeedles-section {
    padding-bottom: 0;
}
.scroll-button{
    width: 100px;
    height: 100px;
    opacity: .7;
    background-color: rgb(20, 20, 24);
    border-radius: 50%;
    display: flex;
    position: absolute; 
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    z-index: 4;
}
.scroll-button:hover {
    background-color: rgb(160, 160, 170);
}
.scroll-button > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
#home-section-video{
    width: 100%;
    height: 92vh;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
}
